.background {
    /*-fx-background-color: linear-gradient(to bottom, #000010, #000050);*/
    -fx-background-color: #1D222C;
}

.text-field {
	-fx-background-color: black;
	-fx-border-color: #343942;
	-fx-text-fill: white;
	-fx-pref-height: 35;
}

.text-field:focused {
    -fx-border-color: #545982;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.button {
	-fx-background-color: #107BC3;
	-fx-border-color: #1197D9;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-pref-height: 30;
}

.button:hover {
	-fx-background-color: #1197D9;
}

.button:hover:armed {
	-fx-background-color: #2197F9;
}

.label {
	-fx-text-fill: white;
}

.combo-box {
	-fx-background-color: black;
	-fx-border-color: #343942;
	-fx-text-fill: white;
	-fx-pref-height: 35;
}

.combo-box:disabled, .combo-box:disabled > * {
	-fx-opacity: 0.9 ;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #AA0000;
}

.combo-box .list-cell {
	-fx-text-fill: white;
	-fx-background-color: black;
}

.combo-box .combo-box-popup .combo-box .combo-box-popup .list-cell {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.hyperlink {
    -fx-text-fill: -fx-accent;
    -fx-border-color: transparent;
}

.hyperlink:hover {
	-fx-text-fill: #cccccc;
}

.hyperlink:hover:armed {
	-fx-text-fill: white;
}

.border {
	-fx-border-color: #343942;
}

.list-view {
	-fx-background-color: #12151b;
	-fx-border-color: #343942;
	-fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

.list-cell:odd { 
	-fx-background-color: #12151b;
	-fx-text-fill: white;
}

.list-cell:even {
	-fx-background-color: #12151b;
	-fx-text-fill: white;
}

.text-area {
	-fx-background-insets: 0;
	-fx-background-color: black;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

.text-area .content {
	-fx-background-color: black;
	-fx-background-radius: 0;
	-fx-padding: 10px;
	-fx-text-fill: white;
	-fx-highlight-fill: #7ecfff;
}

.text-area:focused .content {
	-fx-background-color: black;
}

.text-area:focused {
	-fx-highlight-fill: #7ecfff;
}

.progress-bar > .track {
    -fx-control-inner-background: gray;
    -fx-background-insets: 0, 0 0 0 0, 0 0 0 0;
    -fx-border-color: #343942;
}

.progress-bar .bar { 
    -fx-padding: 8px;
    -fx-background-insets: 1;
    -fx-background-color: rgb(0,174,239);
}

.progress-bar-green .bar { 
    -fx-padding: 8px;
    -fx-background-insets: 1;
    -fx-background-color: green;
}

.titled-pane {
   -fx-text-fill: white;
   -fx-border-color: #343942;
}

.titled-pane > *.content {
   -fx-background-color: #1D222C;
   -fx-border-color: #1D222C;
}

.titled-pane > .title {
   -fx-background-color: #1D222C;
}